Time Shime/Time Shime/_pkginfo.txt
Time Shime/Time Shime/Package.StoreAssociation.xml
Time Shime/Time Shime/Time Shime.csproj.user
Time Shime/Time Shime/Time Shime_StoreKey.pfx
Time Shime/Time Shime.Background/bin/
Time Shime/Time Shime.Background/obj/
Time Shime/Time Shime/AppPackages/
Time Shime/Time Shime/bin/
Time Shime/Time Shime/BundleArtifacts/
Time Shime/Time Shime/obj/
